<div class="zone-app-component">
  <div class="container">

    <!-- Exercise 1 -->
    <div class="question">
      <div class="card">
        <div class="card-body">
          <p>📝1: Implement a Circle Calculator for users to enter a radius.</p>
          <h4>Click【Submit】button to calculate !</h4>
          
          <label for="radius-input" class="form-label">Radius</label>
          <input
            type="number"
            class="form-control"
            name="radius-input"
            id="radius-input"
            min="1"
            placeholder="Enter circle's radius..."
            [(ngModel)]="circle_radius"
            (input)="handleAutoCal()"
          >

          <div class="mt-3">
            <button class="btn btn-warning" (click)="handleSubmit()">Submit 🖋</button>
            <button class="btn btn-danger ml-3" (click)="handleDelete()">Delete 🧽️</button>
          </div>
          
          <div class="mt-3 text-center">
            <p>➥ Circle's circumference: <strong>{{ circle_circumference }}</strong></p>
            <p>➥ Circle's area: <strong>{{ circle_area }}</strong></p>
          </div>
          </div>
        </div>
      </div>
      
      <!-- Exercise 2 -->
      <div class="question">
        <div class="card">
          <div class="card-body">
            <p>📝2: Upgrade Circle Calculator in 📝1 so that circumference and area are calculated and output automatically without submission.</p>
            <h4>Automatic calculation circle's circumference and area !</h4>
            
            <div class="mt-3 text-center">
              <p>➥ Circle's circumference: <strong>{{ circumference_auto_calc }}</strong></p>
              <p>➥ Circle's area: <strong>{{ area_auto_calc }}</strong></p>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>

